<div class="container-fluid">

    <div class="row" id="footer-top-row">
        <div class="col-sm-12 col-md-6">
            Footer first row
        </div>
    </div>

    <div class="row" id="footer-bottom-row">
        <div id="copyright" class="col-sm-12 col-md-6">
            Copyright {{"now"|date('Y')}}
        </div>
    </div>

</div>