<div class="container-fluid">

    <div class="row justify-content-between align-items-center" id="footer-top-row">
        <div class="col-4">
            &copy; {{"now"|date('Y')}}
        </div>
        <div class="col-8 text-right" id="footer-email">
            <a href="mailto:{{options.email_address}}">{{options.email_address}}</a>
        </div>
    </div>

</div>