@import './variables';

@function rem($sizeInPx) {
  $remCalc: $sizeInPx / $font-size-root;
  @return $remCalc * 1rem;
}

// Define 16px explicitly as 1rem, so it's not left to browser default
$font-size-base: rem($font-size-root);

@import 'bootstrap';

header {
  .navbar-light {
    // background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    #navbar-brand {
      color: theme-color("secondary");
      font-size: 1.5rem;
      padding: 0.5rem;
      border: 2px solid theme-color("secondary");
    }
    #navbar-nav {
      .nav-item {
        .nav-link {
          color: black;
        }
      }
    }
  }
}

section {
  .section-title {
    font-family: $title-font;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    margin: 3rem auto;
  }

  &#banner {
    .banner-container {
      position: relative;
      height: rem(600px);
      background: gray;
      background-size: cover !important;
      background-attachment: fixed !important;
      #site-title {
        display: block;
        text-transform: uppercase;
        font-family: $title-font;
        font-size: 8rem;
        font-weight: bold;
        line-height: .70;
        letter-spacing: -.5rem;
        min-width: rem(650px);
        min-height: rem(220px);
        width: 0;
        background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
        background-size: cover;
        color: transparent;
        background-clip: text;
        overflow: visible;
      }
      #site-tagline {
        font-family: 'Didact Gothic';
        font-size: 2.5rem;
        height: 6rem;
      }
      #header-button-container {
        position: absolute;
        bottom: 5.5rem;
        width: 100%;
        padding-right: 2rem;
        a {
          margin-right: 2rem;
          padding: 0.4rem 1.5rem;
          font-size: 1.7rem;
          color: white;
          background: transparent;
          border-width: 3px;
          border-radius: rem(33px);
          border-color: white;
          &:hover {
            background: theme-color('warning');
            color: white;
            border-color: theme-color('warning');
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  &#bio {
    padding: 6.5rem 0;
    .bio-image {
      $side-dimension: rem(200px);
      width: $side-dimension;
      height: $side-dimension;
      border-radius: 50%;
      margin-bottom: 1rem;
    }
    .caption {
      color: gray("700");
      font-size: 1.4rem;
    }

    #bio-text {
      border-left: 1px solid gray("500");
      font-size: 1.2rem;
      .first-sentence {
        font-weight: bold;
        font-size: 1.3rem;
      }
      a {
        padding: 0.3rem 1rem;
        font-size: 1.2rem;
        color: theme-color('warning');
        background: transparent;
        border-width: 3px;
        border-radius: rem(33px);
        &:hover {
          background: theme-color('warning');
          color: white;
          border-color: theme-color('warning');
        }
      }
    }
  }

  &#portfolio {
    background: gray("200");
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2;
    padding: 0 4rem 4rem;
    .portfolio-open {
      cursor: pointer;
      margin: 1rem 0 2rem;
      .portfolio-item {
        position: relative;
        padding-top: 56%;
        background-size: cover !important;
        border-radius: 5px;
        .portfolio-info {
          position: absolute;
          background: rgba(40, 42, 44, 0.8);
          opacity: 0;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: 5px;
          transition: opacity 200ms;
          .portfolio-site-title {
            width: 75%;
            text-align: center;
            font-size: 2.5rem;
            color: white;
            text-transform: uppercase;
          }
        }
        &:hover {
          .portfolio-info {
            opacity: 1;
          }
        }
      }
    }
  }

  &#testimonial {
    margin: 4rem 0;
    .testimonial-quote-icon {
      display: inline;
    }
    .testimonial-text {
      display: inline;
    }
    .testimonial-source {
      .testimonial-person {

      }
      .testimonial-role {

      }
      .testimonial-company {

      }
    }
  }
}


footer {
  background: rgb(60, 192, 224);
  #footer-top-row {
    padding: 1rem 0;
    color: white;
    font-size: 1.2rem;
  }
  #footer-email {
    a {
      color: white;
    }
  }
}

.modal {
  .modal-site-url {
    color: theme-color("primary");
    transition: color 100ms;
    &:hover {
      color: darken(theme-color("primary"), 5%);
      text-decoration: none;
    }
    .modal-site-image {
      width: 100%;
      height: auto;
      margin-top: 0.5rem;
    }
    .modal-site-title {
      margin-top: 2rem;
      font-family: $title-font;
      font-size: 2.3rem;
    }
  }
  .modal-site-description {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}