@import './variables';

@function rem($sizeInPx) {
  $remCalc: $sizeInPx / $font-size-root;
  @return $remCalc * 1rem;
}

// Define 16px explicitly as 1rem, so it's not left to browser default
$font-size-base: rem($font-size-root);

@import 'bootstrap';

@mixin breakpoint($max-size) {
  @media (max-width: $max-size) {
    @content;
  }
}

header {
  .navbar-light {
    // background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    #navbar-brand {
      color: theme-color("secondary");
      font-size: 1.5rem;
      padding: 0.5rem;
      border: 2px solid theme-color("secondary");
    }
    #navbar-nav {
      .nav-item {
        .nav-link {
          color: black;
        }
      }
    }
  }
}

section {
  padding: 4rem 0;
  .section-title {
    font-family: $title-font;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    margin: 0 auto 3rem;
  }

  &#banner {
    padding: 0;
    .banner-container {
      position: relative;
      height: rem(600px);
      background: gray;
      background-size: cover !important;
      background-attachment: fixed !important;
      justify-content: center;
      align-items: start;
      padding: 0 3rem;
      @include breakpoint(768px) {
        padding: 0 2rem;
      }
      @include breakpoint(576px) {
        height: rem(500px);
        justify-content: start;
        // align-items: center;
        padding: 0 1.5rem;
      }
      @include breakpoint(450px) {
        height: rem(450px);
        padding: 0 0.5rem;
      }
      #site-title {
        text-transform: uppercase;
        font-family: $title-font;
        font-size: 8rem;
        font-weight: bold;
        line-height: 0.75;
        letter-spacing: -.5rem;
        color: theme-color('warning');
        @include breakpoint(768px) {
          font-size: 6.4rem;
        }
        @include breakpoint(576px) {
          font-size: 5.2rem;
          margin-top: 3rem;
        }
        @include breakpoint(450px) {
          font-size: 4.2rem;
          margin-top: 3rem;
        }
      }
      #site-title-spacer {
        height: 2rem;
      }
      #site-tagline {
        font-family: 'Didact Gothic';
        font-size: 2.5rem;
        height: 6rem;
        padding-left: 0.5rem;
        @include breakpoint(768px) {
          font-size: 2rem;
        }
        @include breakpoint(576px) {
          padding-left: 0.25rem;
          font-size: 1.8rem;
        }
        @include breakpoint(450px) {
          font-size: 1.5rem;
        }
      }
      #header-button-container {
        position: absolute;
        bottom: 5rem;
        right: 3rem;
        width: 100%;
        justify-content: flex-end;
        @include breakpoint(450px) {
          position: static;
          justify-content: center;
          margin-top: 1.5rem;
        }
        
        button {
          padding: 0.4rem 1.5rem;
          font-size: 1.7rem;
          color: theme-color('secondary');
          background: transparent;
          border-width: 3px;
          border-radius: rem(33px);
          @include breakpoint(450px) {
            font-size: 1.2rem;
          }
          &:hover {
            background: theme-color('secondary');
            color: white;
            border-color: theme-color('secondary');
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  &#bio {
    .bio-image {
      $side-dimension: rem(200px);
      width: $side-dimension;
      height: $side-dimension;
      border-radius: 50%;
      margin-bottom: 1rem;
    }
    .caption {
      color: gray("700");
      font-size: 1.4rem;
      @include breakpoint(768px) {
        margin-bottom: 2rem;
      }
    }

    #bio-text {
      border-left: 1px solid gray("500");
      font-size: 1.2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      @include breakpoint(768px) {
        border-left: none;
        border-top: 1px solid gray("500");
        padding-top: 2rem;
      }
      .first-sentence {
        font-weight: bold;
        font-size: 1.3rem;
      }
      button {
        padding: 0.3rem 1rem;
        font-size: 1.2rem;
        color: theme-color('secondary');
        background: transparent;
        border-width: 3px;
        border-radius: rem(33px);
        &:hover {
          background: theme-color('secondary');
          color: white;
          border-color: theme-color('secondary');
        }
      }
    }
  }

  &#portfolio {
    background: gray("200");
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2;
    .portfolio-open {
      cursor: pointer;
      margin: 1rem 0 2rem;
      .portfolio-item {
        position: relative;
        padding-top: 56%;
        background-size: cover !important;
        border-radius: 5px;
        .portfolio-info {
          position: absolute;
          background: rgba(40, 42, 44, 0.8);
          opacity: 0;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: 5px;
          transition: opacity 200ms;
          .portfolio-site-title {
            width: 75%;
            text-align: center;
            font-size: 2.5rem;
            color: white;
            text-transform: uppercase;
          }
        }
        &:hover {
          .portfolio-info {
            opacity: 1;
          }
        }
      }
      .portfolio-small-site-title {
        margin-top: 0.8rem;
        margin-bottom: 2rem;
      }
    }
    
  }

  &#testimonial {
    .testimonial-quote-icon {
      margin-right: 0.5rem;
      color: rgba(darken(theme-color('secondary'), 15%), 0.6);
    }
    .testimonial-text {
      font-size: 1.2rem;
    }
    .testimonial-source {
      text-align: end;
      p {
        margin: 0;
      }
      .testimonial-person {
        font-size: 1.5rem;
        color: theme-color('warning');
      }
      .testimonial-company {
        font-size: 1.2rem;
      }
    }
  }
}

.modal {
  .modal-site-url {
    color: theme-color("warning");
    transition: color 100ms;
    &:hover {
      color: darken(theme-color("warning"), 5%);
      text-decoration: none;
    }
    .modal-site-image {
      width: 100%;
      height: auto;
      margin-top: 0.5rem;
    }
    .modal-site-title {
      margin-top: 2rem;
      font-family: $title-font;
      font-size: 2.3rem;
    }
  }
  .modal-site-description {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .form-control:focus {
    border-color: theme-color("warning");
    box-shadow: 0 0 0 0.2rem rgba(theme-color("warning"),0.25);
  }
  .wpcf7-validation-errors, .wpcf7-acceptance-missing {
    border: 2px solid theme-color("warning");
  }
}

footer {
  background: #96E9F5;
  font-size: 1rem;
  @include breakpoint(515px) {
    font-size: 0.7rem;

  }
  .container-fluid {
    @include breakpoint(515px) {
      padding: 0 1rem;
    }
  }
  #footer-top-row {
    padding: 1rem 0;
  }
  #footer-email {
    a {
      color: $text-color;
    }
  }
}